body {
    background-color: #EF3E3E;
    color: white;
    font-family: sans-serif;
}

div.pokemon {
    background-color: #2e2e2e;
    color: white;
    width: 79%;
}

.unique {
    background-color: #2e2e2e;
    color: white;
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    /* display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-gap: 1rem; */
}

img.sprite {
    height: 80px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.presentation {
    text-align: center;
}

.elements {
    height: 100px;
}